.contact {
  margin-top: 200px;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.btn-contact {
  font-size: 2rem;
  padding: 15px 20px;
  border: 1px solid #B21E04;
  border-radius: 4px;
}

.btn-contact:hover {
  background-color: #FE2B02;
  color: #fff;
}

.divider {
  background: linear-gradient(180deg, #FF360F 0%, #FF833E 100%);
  opacity: 0.1;
  width: 1000px;
  height: 1px;
  margin: 0 auto;
  margin-top: 200px;
}