.footer-container {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.footer-details {
  font-size: .875rem;
  position: relative;

}

.footer-details h3 {
  margin: 10px 0;
}

.footer-details span {
  display: inline-block;
  margin-bottom: 10px;
}

.footer-details span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -20px;
}

.phone::before {
  background: url("../img/phone-icon.svg") no-repeat center center;
  top: 85px;
}

.email::before {
  background: url("../img/email-icon.svg") no-repeat center center;
  top: 114px;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;

}

.copyright {
  margin-top: 80px;
  font-size: 1rem;
  color: #a9a9a9;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 80px;
  }

  .footer-details {
    text-align: center;
  }

  .footer-details img {
    margin: 0 auto;
  }

  .footer-details span::before {
    display: none;
  }
}