@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General Style */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(180deg, #032138 0%, #000E18 73.44%) no-repeat;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}