@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General Style */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 1rem;
  color: #DEDEDE;
  background: url("/assets/img/bg.svg"), linear-gradient(180deg, #032138 0%, #000E18 73.44%) no-repeat;
  scroll-behavior: smooth;

}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  height: 4208px;
  margin: 0 auto;
}

.subheading {
  font-size: 9rem;
  word-break: break-all;
  width: 3ch;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .subheading {
    font-size: 3rem;
    text-transform: capitalize;
    word-break: unset;
  }
}