.portfolio {
  margin-top: 200px;
}

.frame {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  position: relative;
  padding: 0 30px;
  margin-bottom: 100px;
}

.frame-mobile {
  position: absolute;
  bottom: -60px;
  right: 100px;
}

.portfolio-label {
  width: 800px;
  margin: 0 auto;
}

.portfolio-label-list {
  display: flex;
  justify-content: space-between;
}

.portfolio-label-list a {
  font-size: 1.125rem;
  color: #717171
}

.portfolio-label-list .active {
  color: #DEDEDE;
  font-weight: bold;
  border-bottom: 4px solid #FE2B02;
}

.portfolio-label-list a:hover {
  color: #DEDEDE;
}

@media (max-width: 640px) {

  .portfolio-label-list {
    display: none;
  }
}