.portfolio {
  margin-top: 200px;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.laptop {
  background: url("../img/project-1-desktop.png") no-repeat center center;
  background-size: 820px 540px;
}

.mobile {
  background: url("../img/project-1-mobile.png") no-repeat center 30px;
  background-size: 180px 370px;
  position: absolute;
  bottom: -60px;
  right: 30px;
}

.portfolio-label {
  width: 800px;
  margin: 0 auto;
}

.portfolio-label-list {
  display: flex;
  justify-content: space-between;
}

.portfolio-label-list a {
  font-size: 1.125rem;
  color: #717171
}

.portfolio-label-list .active {
  color: #DEDEDE;
  font-weight: bold;
  border-bottom: 4px solid #FE2B02;
}

.portfolio-label-list a:hover {
  color: #DEDEDE;
}