.skills {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.skills .subheading {
  color: #0B263A;
}

.skills-languages {
  position: relative;
}

.skills-list::before {
  content: "";
  display: block;
  width: 5px;
  height: 30px;
  background: linear-gradient(180deg, #FF360F 0%, #FF833E 100%);
  position: absolute;
  top: 42px;
  left: -5px;
}

.skills-languages h3 {
  margin-top: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #FCFCFD;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  background: rgba(6, 28, 44, 1);
  margin-top: 20px;
  padding: 40px 20px 40px 40px;
  border-radius: 4px;
  position: relative;
}

.skills-list li {
  flex: 1 0 30%;
  font-size: 1.125rem;
  font-weight: normal;
  color: #FCFCFD;
  padding: 10px;
}

@media (max-width: 800px) {
  .skills {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .skills .subheading {
    color: #FCFCFD;
  }

  .skills-languages h3 {
    display: none;
  }

  .skills-list {
    background: none;
  }
}